/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}
.container {
  width: 100%;
}
button {
  width: 100%;
  border-radius: 15px;
  background-color: #22283A;
  color: white;
  padding: 20px 25px;
  font-size: 1.7rem;
  cursor: pointer;
  transition: 500ms;
}
button:hover {
  background-color: transparent;
  border: 1px solid #22283A;
  color: #22283A;
}
img {
  border-radius: 30px;
}
.navbar {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0px 0px 7px 0px grey;
}
.navbar .logo {
  text-align: center;
  font-size: 100%;
  color: black;
}
.navbar nav {
  width: 80%;
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1000px) {
  .navbar nav {
    width: 60%;
  }
}
.navbar nav a {
  transition: 500ms;
}
.navbar nav a:hover {
  font-size: 1.5rem;
  color: red;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
}
.home {
  width: 90%;
}
@media (min-width: 1000px) {
  .home {
    max-width: 1000px;
  }
}
.home .section-content {
  padding: 20px 10px;
}
.home .section-content h3 {
  margin: 10px 0px;
  line-height: 2rem;
}
.home .section-content p {
  margin: 12px 0px;
  line-height: 2rem;
}
.home .hero {
  margin-top: 150px;
}
.home .hero .hero-img {
  background-image: url("/img/main-header.png");
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 5px;
}
.home .space-images {
  display: none;
}
@media (min-width: 1000px) {
  .home .space-images {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: block;
  }
  .home .space-images img {
    width: 31%;
    margin: 15px 1%;
    transition: 500ms;
  }
  .home .space-images img:hover {
    opacity: 0.7;
  }
}
.home .tablet-vanish {
  display: block;
}
@media (min-width: 1000px) {
  .home .tablet-vanish {
    display: none;
  }
}
@media (min-width: 1000px) {
  .home .walk {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    padding: 30px 0px;
  }
  .home .walk .section-content {
    order: -1;
    padding: 25px;
  }
  .home .walk .section-content button {
    width: 30%;
    border-radius: 15px;
    background-color: #22283A;
    color: white;
    padding: 15px 20px;
    font-size: 1.7rem;
    cursor: pointer;
    transition: 500ms;
  }
  .home .walk .section-content button:hover {
    background-color: transparent;
    border: 1px solid #22283A;
    color: #22283A;
  }
}
